<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7O9BaKtguBYhCmR0bM9-6DhSuJl3pFy4</string>
	<key>GCM_SENDER_ID</key>
	<string>48540852798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spbarber.tictactoe.TicTacToe</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-kmp</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-kmp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48540852798:ios:c2d7357545671c1cc8e76f</string>
</dict>
</plist>